data/*
!data/Makefile
!data/Shell/make_blastdb.sh
!data/ref/bacteria/Makefile
!data/ref/viruses/Makefile

busco/tmp*

snap/*
!snap/pdam.hmm

pdam.maker.output/*
!pdam.maker.output/pdam.all.renamed.function.gff.tar.gz

gag_out/*
!gag_out/genome.stats

ip.job
