busco/* linguist-vendored
gag-out/* linguist-vendored
maker-ctl/* linguist-vendored
pdam.maker.output/* linguist-vendored
snap/* linguist-vendored
data/* linguist-vendored
gene_search/*_blastout filter=lfs diff=lfs merge=lfs -text
annotation/pdam.all.renamed.function.domain.gff.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ref/ofav/* filter=lfs diff=lfs merge=lfs -text
data/ref/adig/* filter=lfs diff=lfs merge=lfs -text
data/ref/ofav/ofav.all.gff.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ref/ofav/ofav_genome.fa.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ref/spis/Spis.genome.annotation.gff3.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ref/spis/Spis.genome.scaffold.final.fa.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ref/adig/adi_v0.9.scaffold.fa.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ref/adig/aug_repeatmask_pasa_input.gff3.tar.gz filter=lfs diff=lfs merge=lfs -text
