fullblast.txt
.RData*
data/weedy_coral_01Feb2017_zhEnG/*
data/Shell/*
data/filter/*
!data/filter/pdam.fasta.summary
!data/filter/contigs.fasta.summary
data/ref/*
!data/ref/ofav
!data/ref/adig
data/ref/adig/run_adig/*
!data/ref/adig/run_adig/short_summary_adig.txt
!data/ref/spis
data/ref/spis/*
!data/ref/spis/run_spis
data/ref/spis/run_spis/*
!data/ref/spis/run_spis/short_summary_spis.txt
!data/ref/*.pep
data/ref/all.pep
!data/ref/bacteria
!data/ref/viruses
data/ref/bacteria/*
data/ref/viruses/*
!data/ref/bacteria/Makefile
!data/ref/viruses/Makefile

busco/tmp*
busco/*
!busco/full_table_pdam.tsv
!busco/missing_busco_list_pdam.tsv
!busco/short_summary_pdam.txt

snap/*
!snap/pdam.hmm

pdam.maker.output/*.gff

gag_out/*
!gag_out/genome.stats

fastOrtho/version1*
fastOrtho/Coral_specific/ORTHO*
fastOrtho/CoralDiversified/ORTHO*
fastOrtho/Pdam_specific/ORTHO*


.Rproj.user
.Rhistory

ip.job

interproscan/*
!interproscan/pdam_ips.tsv
!interproscan/pdam_ips.renamed.tsv

annotation/pdam.all.renamed.function.domain.gff

repeatmasker/*
!repeatmasker/consensi.fa.classified
!repeatmasker/Makefile
!repeatmasker/pdam.fasta.out
!repeatmasker/pdam.fasta.tbl
