busco/* linguist-vendored
gag-out/* linguist-vendored
maker-ctl/* linguist-vendored
pdam.maker.output/* linguist-vendored
snap/* linguist-vendored
gene_search/*_blastout filter=lfs diff=lfs merge=lfs -text
annotation/pdam.all.renamed.function.domain.gff.tar.gz filter=lfs diff=lfs merge=lfs -text
data/ofav/* filter=lfs diff=lfs merge=lfs -text
data/adig/* filter=lfs diff=lfs merge=lfs -text
