manuscript/*
old_files/*
SciRep_submission/*
Rmd/analysis_cache/*
annotation/pdam_annot.tbl/*

fullblast.txt
.RData*
data/weedy_coral_01Feb2017_zhEnG/*
data/Shell/*
data/filter/*
!data/filter/pdam.fasta.summary
!data/filter/contigs.fasta.summary
data/ref/*
!data/ref/ofav
!data/ref/adig
data/ref/adig/run_adig/*
!data/ref/adig/run_adig/short_summary_adig.txt
!data/ref/spis
data/ref/spis/*
!data/ref/spis/run_spis
data/ref/spis/run_spis/*
!data/ref/spis/run_spis/short_summary_spis.txt
!data/ref/*.pep
data/ref/all.pep
!data/ref/bacteria
!data/ref/viruses
data/ref/bacteria/*
data/ref/viruses/*
!data/ref/bacteria/Makefile
!data/ref/viruses/Makefile

annotation/busco/tmp*
annotation/busco/*
!annotation/busco/full_table_pdam.tsv
!annotation/busco/missing_busco_list_pdam.tsv
!annotation/busco/short_summary_pdam.txt

annotation/snap/*
!annotation/snap/pdam.hmm

annotation/pdam.maker.output/*.gff

annotation/gag_out/*
!annotation/gag_out/genome.stats

orthologs/fastOrtho/version1*
orthologs/fastOrtho/Coral_specific/ORTHO*
orthologs/fastOrtho/CoralDiversified/ORTHO*
orthologs/fastOrtho/Pdam_specific/ORTHO*


.Rproj.user
.Rhistory

ip.job

annotation/interproscan/*
!annotation/interproscan/pdam_ips.tsv
!annotation/interproscan/pdam_ips.renamed.tsv

annotation/pdam.all.renamed.function.domain.gff

annotation/repeatmasker/*
!annotation/repeatmasker/consensi.fa.classified
!annotation/repeatmasker/Makefile
!annotation/repeatmasker/pdam.fasta.out
!annotation/repeatmasker/pdam.fasta.tbl
